* {
    box-sizing: border-box;
    margin: 0;
}

.everything {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
}

body {
    max-width: 100%;
    font-family: Open Sans;
    background-color: whitesmoke;
}

header {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 48px;
    color: white;
    background-color: #004175;
    border-bottom-width: 5px;
    border-bottom-color: #89DEEF;
    border-bottom-style: solid;
}
.intro {
    padding-top: 36px;
    padding-bottom: 12px;
    padding-left: 48px;
    background-color: white;    
}

.dog-block {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding-left: 28px;
    padding-right: 28px;
    background-color: white;
    padding-bottom: 36px;
}

.dog {
    width: 360px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 8px;
    margin-right 8px;
}

.dog img {
    max-width: 100%;
    height: auto;
}

.dog .name {
    font-family: Oswald;
}

.dog ul {
    list-style-type:none;
    padding-left: 0px;
}

.dog ul li {
    font-size: 12px;
    display: inline-block;
    background-color: #89DEEF;
    border-radius: 12px;
    padding: 4px;
    margin: 2px;
}

footer {
    font-family: Oswald;
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}

.bottom-button {
    background-color: #6668ee;
    height: 100%;
    text-align: center;
    position: relative;
    display:flex;
}

.bottom-button img {
    max-height: 400px;
    max-width: 100%;
    opacity: 0.4;
    
}
.bottom-button p {
    font-size: 3vw;
    color: white;
    position: absolute;
    top:40%;
    left: 32%;
}